{% extends "layout.html" %}

{% block content %}

<h2 class="low-contrast-text">{{ title }}</h2>

<address class="low-contrast-text">
    Dusan Paal<br />
    Andreja Hlinku 604/3<br />
    949 01 Nitra<br />
    <abbr title="Telephone number">Tel:</abbr>
    <a class="contact-info-link" href="tel:00421918476463">+ 421 918 476 463</a>
    <br />
    <abbr title="Email address">Email:</abbr>
    <a class="contact-info-link" href="mailto:dusanpaal@gmail.com">dusanpaal@gmail.com</a>
</address>

{% endblock %}
